* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  ul li {
    list-style: none;
  }
  
  :root {
    --white: rgb(254, 255, 247);
    --white-transparent: rgba(254, 255, 247, 0.7);
    --violet: #6a5acd;
    --violet-transparent: rgba(105, 90, 205, 0.8);
    --purple: rgb(228, 42, 228);
    --dark-green: rgb(20, 35, 39);
  }
  
  body {
    min-height: 100vh;
    background-color: var(--white);
    color: rgb(106, 90, 205);
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
  }
  
  .firstPage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
  }
  
  .navbar {
    width: 100%;
    padding: 15px 45px 15px 15px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    /* position: absolute; */
    /* background-image: linear-gradient(to right, var(--white-transparent) 50%, rgb(106, 90, 205)50%);   */
    position: fixed;
    z-index: 1;
    transition-duration: 0.2s, 0.5s;
    transition-property: box-shadow, background-color;
    backdrop-filter: blur(5px);
  }
  
  .scrolled-navbar {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: var(--white-transparent);
  }
  
  .navbar ul.nav-list {
    display: flex;
    gap: 7vw;
    font-size: 24px;
    display: flex;
    align-items: center;
    transition-duration: 0.4s;
  }
  
  .selected ul.nav-list {
    transform: translateX(0);
  }
  .nav-list-item {
    position: relative;
    transition-duration: 0.2s;
    color: var(--violet);
    /* color: rgb(254, 255, 247); */
  }
  
  .navbar .navbar-more {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    cursor: pointer;
    transition-duration: 0.2s;
    z-index: -1;
    display: none;
  }
  
  .navbar .navbar-more .line {
    width: 100%;
    height: 17%;
    background-color: var(--violet);
    border-radius: 100px;
    transition-duration: 0.4s;
    background-color: var(--violet);
  }
  
  .navbar .navbar-cross {
    width: 50px;
    height: 50px;
    border: none;
    /* background-color: black; */
    position: absolute;
    top: 50%;
    left: -75px;
    transform: translateY(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition-duration: 0.4s;
  }
  
  .selected .navbar-cross {
    left: calc(100% - 75px);
  }
  
  .cross-line {
    width: 120%;
    height: 12%;
    background-color: var(--violet);
    transform: translateX(50%) translateY(-50%) rotateZ(45deg);
    position: absolute;
    top: 50%;
    right: 50%;
    border-radius: 100px;
  }
  
  .cross-line:nth-child(2) {
    transform: translateX(50%) translateY(-50%) rotateZ(-45deg);
  }
  
  .nav-list-item::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    transition-duration: 0.2s;
    height: 3px;
    /* background-color: rgb(254, 255, 247); */
    background-color: var(--violet);
  }
  
  .nav-list-item:hover::after {
    width: 120%;
  }
  
  .nav-list-item:hover {
    transform: scale(1.2);
    color: var(--violet);
  }
  
  .home {
    height: 100vh;
    display: flex;
    align-items: center;
    /* margin-top: 40vh; */
    padding: 0 30px;
    line-height: 85px;
    /* transform: translateY(-50%); */
    font-size: 70px;
    word-spacing: 5px;
    font-weight: 500;
    /* color: rgb(166, 55, 166); */
    position: relative;
    background-color: var(--white-transparent);
    /* background-image: linear-gradient(to right, var(--white-transparent) 50%, rgb(106, 90, 205)50%); */
  }
  
  .home::after {
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top: 55%;
    right: 0%;
    background-color: rgba(238, 27, 238, 1);
    border-radius: 50%;
    transform: translatey(-50%);
    filter: blur(60px);
    z-index: -1;
  }
  
  .home::before {
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top: 35%;
    right: 20%;
    background-color: rgba(69, 43, 234, 1);
    border-radius: 50%;
    transform: translatey(-50%);
    filter: blur(60px);
    z-index: -1;
  }
  
  .home p {
    max-width: 800px;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(
      to right,
      rgb(68, 43, 234),
      rgb(228, 42, 228)
    );
    margin-right: 10vw;
  }
  
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    background-color: var(--white-transparent);
  }
  .projects h2 {
    font-size: 50px;
  }
  
  .projects-list {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc((100% - 370px * 3) / 5); */
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    height: 500px;
    /* z-index: 2; */
  }
  
  .projects-list .slide {
    padding: 35px;
    border-radius: 50%;
    /* background-color: var(--violet-transparent); */
    /* border: 1px solid var(--white-transparent); */
    border: none;
    position: absolute;
    top: 45%;
    transition-duration: 0.2s;
    outline: 0px solid var(--violet-transparent);
  }
  
  .slide-left {
    left: 50%;
    transform: translateY(-50%) translateX(calc(-50% - 250px)) translateZ(1px)
      rotateZ(180deg);
    background-image: url(./whiteRightArrow.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 12px center;
    background-color: var(--violet-transparent);
  }
  
  .slide-right {
    right: 50%;
    transform: translateY(-50%) translateX(calc(50% + 250px)) translateZ(1px);
    background-image: url(./whiteRightArrow.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 12px center;
    background-color: var(--violet-transparent);
    /* background-color: rgba(105, 90, 205, 0.553); */
  }
  
  .slide:hover {
    outline: 7px solid var(--violet-transparent);
    background-color: var(--violet);
    border: none;
  }
  
  .projects-list-item {
    width: 370px;
    height: 410px;
    /* background-color: rgba(105, 90, 205, 0.6); */
    /* background-color: transparent; */
    /* border: 3px solid rgb(106, 90, 205); */
    box-shadow: 0 0 5px rgba(105, 90, 205, 1);
    /* margin-bottom: calc((100% - 1200px) / 5); */
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    justify-content: space-between;
    transition: all 0.2s, transform 0.7s;
    position: absolute;
    right: calc(50% - 185px);
  }
  .first-card {
    /* transform: translatex(-80%) translateZ(-400px) rotateY(40deg); */
    transform: rotateY(50deg) translateZ(-550px) translateX(-25px);
  }
  .second-card {
  }
  .third-card {
    /* transform: translatex(180%) translateZ(-400px) rotateY(-40deg); */
    transform: rotateY(-50deg) translateZ(-550px) translateX(25px);
  }
  
  .projects-list-item:hover {
    box-shadow: 0 0 15px var(--violet);
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 30px;
  }
  
  .container button {
    width: max-content;
    font-size: 18px;
    padding: 7px 20px;
    color: var(--white);
    background-color: var(--violet-transparent);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px var(--violet);
    transition-duration: 0.2s;
    border: 1px solid var(--violet);
  }
  
  .container button:hover {
    background-color: var(--white);
    color: var(--violet);
  }
  
  .projects-list-item h3 {
    font-size: 25px;
  }
  
  .projects-list-item-img {
    width: 310px;
    height: 230px;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: 0 0 5px black;
    transition-duration: 0.2s;
  }
  
  .projects-list-item-img:hover {
    box-shadow: 0 0 15px black;
  }
  
  .contact {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: relative;
    /* height: 597.5px; */
    /* padding: 0 100px 100px 100px; */
    padding: 0 10vw 10vw 10vw;
    margin-top: 150px;
  }
  
  .contact h2 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: linear-gradient(
      to right,
      var(--violet) 50%,
      var(--white) 50%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    padding: 5px 0 0 0;
    text-wrap: nowrap;
  }
  
  .contact .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 110px 40px 30px 40px;
    line-height: 45px;
    color: gray;
    background-color: var(--white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.266);
    border-radius: 20px 0 0 20px;
  }
  
  .left div {
    position: relative;
    padding-left: 50px;
    display: flex;
    align-items: center;
    font-size: 20px;
    opacity: 0.8;
    color: #645c94;
  }
  
  .left ul {
    display: flex;
    gap: 15px;
  }
  
  .left ul li {
    width: 40px;
    height: 40px;
    background-color: var(--violet-transparent);
    border-radius: 5px;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center center;
    transition-duration: 0.2s;
    outline: 0px solid var(--violet-transparent);
  }
  
  .left ul li:hover {
    outline: 3px solid var(--violet-transparent);
    background-color: var(--violet);
    transform: scale(1.3);
  }
  
  .left ul a:nth-child(1) li {
    background-image: url(../linkedin.png);
  }
  .left ul a:nth-child(2) li {
    background-image: url(./telegram.png);
  }
  .left ul a:nth-child(3) li {
    background-image: url(./youtube.png);
  }
  
  .left div:nth-child(1)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    background-image: url(./location.png);
    background-size: contain;
    opacity: 1;
  }
  
  .left div:nth-child(2)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background-image: url(./mail.png);
    background-size: contain;
    opacity: 1;
  }
  
  .left div:nth-child(3)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background-image: url(./telephone.png);
    background-size: contain;
    opacity: 1;
  }
  
  .left .social-media {
    color: var(--violet);
    opacity: 1;
    font-weight: bold;
    font-size: 22px;
    word-spacing: 5px;
    margin-top: 40px;
    padding-left: 0;
  }
  
  .contact .right {
    width: 50%;
    background-color: var(--violet);
    height: 100%;
    border-radius: 0 20px 20px 0;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.266);
    display: flex;
    padding: 110px 40px 30px 40px;
    flex-direction: column;
    gap: 22px;
  }
  
  .entryarea {
    position: relative;
  }
  
  .entryarea div {
    color: var(--white-transparent);
    /* height: px; */
    display: flex;
    align-items: center;
    margin: 14px 20px;
    padding: 0 10px;
    background-color: var(--violet);
    transition-duration: 0.2s;
    width: max-content;
    border-radius: 100px;
  }
  
  .right input,
  .right textarea {
    height: 47px;
    border: 2px solid var(--white);
    background-color: transparent;
    border-radius: 100px;
    padding: 0 20px;
    color: var(--white);
    font-size: 18px;
    color: var(--white-transparent);
    transition-duration: 0.15s;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .right input:focus + div,
  .right input:valid + div,
  .right textarea:focus + div,
  .right textarea:valid + div {
    transform: translateY(-23.5px) translateX(-10px);
    color: rgb(84, 217, 217);
  }
  
  .right input:focus-visible,
  .right input:valid,
  .right textarea:focus-visible,
  .right textarea:valid {
    outline: none;
    color: var(--white);
    border: 2px solid rgb(84, 217, 217);
  }
  
  .entryarea .message {
    /* background-color: #fff; */
  }
  
  .entryarea .message-input {
    height: 180px;
    border-radius: 25px;
    transform: translateY(-23.5px);
    padding-top: 10px;
  }
  
  .right button {
    margin-top: 133px;
    width: max-content;
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    background-color: var(--white);
    color: var(--violet);
    font-size: 16px;
    box-shadow: 0 0 3px var(--white-transparent);
  }
  
  h1 {
    font-size: 60px;
    letter-spacing: 0.5px;
  }
  
  @media screen and (max-width: 800px) {
    .navbar .navbar-more {
      display: flex;
    }
    .navbar ul {
      width: 100%;
      position: absolute;
      height: 100vh;
      background-color: var(--white);
      backdrop-filter: blur(100px);
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transform: translateX(-100%);
    }
  }
  
  @media screen and (max-width: 900px) {
    .contact {
      flex-direction: column;
    }
    .contact .left {
      width: 100%;
      border-radius: 20px 20px 0 0;
      padding: 130px 40px 60px 40px;
    }
  
    .contact .right {
      width: 100%;
      border-radius: 0 0 20px 20px;
    }
  
    .contact h2 {
      background-color: transparent;
      color: var(--violet);
      -webkit-text-fill-color: var(--violet);
      padding: 0;
      top: 60px;
      transform: translateX(-50%) translateY(-70%);
    }
  }
  
  @media screen and (max-width: 900px) {
    .home p {
      font-size: 55px;
      line-height: 70px;
    }
  }
  @media screen and (max-width: 500px) {
    button.slide-right {
      transform: translateY(-50%) translateX(calc(50% + 170px)) translateZ(1px);
    }
    button.slide-left {
      transform: translateY(-50%) translateX(calc(-50% - 170px)) translateZ(1px)
        rotateZ(180deg);
    }
    home p {
      font-size: 40px;
      line-height: 55px;
    }
  }
  @media screen and (max-width: 550px) {
    .contact h2 {
      font-size: 40px;
    }
  }
  @media screen and (max-width: 650px) {
    .slide-right {
      transform: translateY(-50%) translateX(calc(50% + 200px)) translateZ(1px);
    }
    .slide-left {
      transform: translateY(-50%) translateX(calc(-50% - 200px)) translateZ(1px)
        rotateZ(180deg);
    }
  }